@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

body {
  font-family: 'Lato', sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px; }

.logo {
  display: flex;
  text-transform: uppercase;
  color: whitesmoke;
  user-select: none;
  font-family: 'Exo';
  word-spacing: 1px;
  letter-spacing: 1px;
  color: #181717; }

.bodyIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100% 1fr 1fr;
  background: whitesmoke; }

.header {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  flex-direction: column; }
  .header .logo {
    display: flex;
    width: 90%;
    align-items: center;
    position: relative; }
    .header .logo__zod {
      color: #181717;
      font-size: 5em;
      margin-left: .5rem;
      letter-spacing: 1rem;
      font-weight: 100;
      font-style: italic;
      padding: 1rem;
      z-index: 1;
      user-select: none; }
    .header .logo__sub {
      color: #233d55;
      position: absolute;
      top: 89%;
      left: 8%;
      width: 100%;
      padding: .3rem;
      letter-spacing: .2rem;
      word-spacing: .3rem;
      font-size: .9rem;
      font-style: italic;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 10px;
      z-index: 1;
      box-shadow: 5px 3px 2px rgba(24, 23, 23, 0.3);
      user-select: none;
      text-align: right;
      padding-top: 1%;
      padding-right: 3%; }

.top {
  grid-area: 1 / 1 / 2 / 13;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-around;
  background: #181717; }

.user {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: flex-end;
  margin: 2%; }
  .user .fa-user, .user__a {
    margin: .4rem;
    font-size: 1rem;
    color: whitesmoke; }
  .user__a {
    text-decoration: none; }

.search {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  transition: 2s;
  margin: 2%;
  border: solid 1px whitesmoke;
  border-radius: 5px;
  width: 30%;
  height: 33%;
  overflow: hidden; }
  .search:hover {
    border: solid 1px #233d55; }
  .search__input {
    font-size: .7rem;
    webkit-transition: 0.5s;
    outline: none;
    border: none;
    transition: box-shadow .5s ease-out;
    padding: .7rem;
    width: 100%; }
    .search__input:focus {
      color: #181717; }
  .search__search {
    display: flex; }

.fa-search {
  font-size: .7rem;
  color: #ccc;
  background: #181717;
  padding: 1rem;
  align-self: center; }

.user {
  align-items: center; }

.navbar {
  padding: 1rem;
  margin: 1rem; }
  .navbar__ul {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    align-items: center; }
    .navbar__ul__li {
      list-style: none;
      align-items: center;
      justify-content: center; }
      .navbar__ul__li__a {
        font-size: .7em;
        text-decoration: none;
        color: #181717;
        text-transform: uppercase;
        padding: 1rem 2rem;
        transition: border-left .3s;
        border-radius: 10px;
        font-weight: 600;
        letter-spacing: .3rem;
        border-left: solid 5px lightseagreen;
        transition: .1s; }
        .navbar__ul__li__a:hover {
          color: whitesmoke;
          border-left: solid 5px lightseagreen;
          background: rgba(32, 178, 170, 0.888); }

.carrousel {
  display: flex;
  height: 30vmax;
  margin: 1rem 0;
  position: relative; }
  .carrousel__arrowLeft, .carrousel__arrowRight {
    position: absolute;
    top: 40%;
    background: whitesmoke;
    padding: 1rem;
    color: #181717;
    border-radius: 12px;
    margin: 0 1rem;
    transition: .6s;
    user-select: none; }
    .carrousel__arrowLeft:hover, .carrousel__arrowRight:hover {
      background: lightseagreen;
      color: whitesmoke; }
  .carrousel__arrowRight {
    right: 0%;
    z-index: 3; }
  .carrousel__arrowLeft {
    left: 0%;
    z-index: 3; }
  .carrousel__container {
    position: relative; }
    .carrousel__container__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .5s; }
    .carrousel__container__post {
      display: grid;
      grid-template-rows: 10% repeat(3, 1fr) 5%;
      grid-template-columns: repeat(12, 1fr);
      position: absolute;
      bottom: 0%;
      left: 0%;
      padding: 1rem;
      height: 30%;
      background: rgba(24, 23, 23, 0.9);
      overflow: hidden;
      transition: .5s; }
      .carrousel__container__post:hover {
        height: 100%; }
      .carrousel__container__post .H1 {
        grid-area: 2 / 1 / 3 / 13;
        color: lightseagreen;
        font-size: 3rem;
        margin: 1rem; }
      .carrousel__container__post__date {
        grid-area: 1 / 10 / 2 /13;
        color: whitesmoke;
        border-left: solid 5px lightseagreen;
        padding: .3rem;
        align-self: center; }
      .carrousel__container__post__p {
        grid-area: 3 / 1 / 4 / 13;
        margin: 0 15%;
        align-self: center;
        color: whitesmoke; }
      .carrousel__container__post__a {
        color: lightseagreen;
        grid-area: 4 / 10 / 5 / 12;
        background: whitesmoke;
        padding: 1rem;
        align-self: flex-end;
        justify-self: flex-end;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .7rem; }
        .carrousel__container__post__a:hover {
          background: rgba(32, 178, 170, 0.888);
          color: whitesmoke; }
  .carrousel .fa-chevron-left, .carrousel .fa-chevron-right {
    font-size: 20px;
    user-select: none; }

.main {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 5%; }
  .main__H2 {
    font-size: 3rem;
    align-self: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #181717; }
  .main__article {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .main__article__post {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 5%;
      margin: 1rem;
      height: 30vh;
      width: 90%;
      border-top: solid 5px #233d55;
      border-radius: 10px;
      overflow: hidden;
      transition: 1s;
      background: #233d55; }
      .main__article__post:hover {
        transform: scale(1.1);
        border-top: solid 5px lightseagreen; }
      .main__article__post:hover > .main__article__post__img {
        filter: blur(20px); }
      .main__article__post:hover > .main__article__post__H3 {
        background: rgba(24, 23, 23, 0.3); }
      .main__article__post__H3 {
        grid-area: 2 / 1 / 4 / 3;
        font-size: 1.7rem;
        padding: 1rem;
        color: whitesmoke;
        background: rgba(32, 178, 170, 0.888);
        word-spacing: .5rem;
        letter-spacing: .2rem;
        text-align: justify-all;
        text-transform: uppercase;
        z-index: 1;
        transition: .5s; }
      .main__article__post__img {
        grid-area: 1 / 1 / 4 / 3;
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .main__article__post__date {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-self: flex-start;
        margin: 1rem;
        z-index: 2; }
        .main__article__post__date__fecha {
          color: whitesmoke;
          padding: 1rem;
          border-radius: 5px;
          margin-right: 5%;
          font-size: .5rem;
          border-left: solid 3px lightseagreen;
          background: #181717; }
        .main__article__post__date__cat {
          color: whitesmoke;
          border-left: solid 3px lightseagreen;
          background: #181717;
          padding: 1rem;
          border-radius: 5px;
          font-size: .5rem;
          transition: .5s;
          user-select: none;
          cursor: pointer; }
          .main__article__post__date__cat:hover {
            background: rgba(32, 178, 170, 0.888); }
      .main__article__post__link {
        color: whitesmoke;
        grid-area: 2 / 2 / 4 / 3;
        justify-self: flex-end;
        align-self: flex-end;
        text-decoration: none;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 5%;
        background: rgba(24, 23, 23, 0.9);
        text-transform: uppercase;
        border-radius: 5px;
        font-size: .6em;
        z-index: 3;
        transition: .5s; }
        .main__article__post__link:hover {
          background: lightseagreen; }

.aside {
  grid-area: 2 / 3 / 3 / 4; }
  .aside__article__H3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500; }
  .aside__article__post {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr 5%;
    margin: 1rem 15% 1rem 0;
    height: 45vh;
    position: relative; }
    .aside__article__post:hover > .aside__article__post__container {
      height: 100%; }
    .aside__article__post:hover > .aside__article__post__img {
      filter: blur(20px); }
    .aside__article__post__img {
      grid-area: 1 / 1 / 3 / 3;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .6s .2s; }
    .aside__article__post__container {
      grid-area: 1 / 1 / 3 / 3;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      background: rgba(24, 23, 23, 0.3);
      overflow: hidden;
      height: 21%;
      position: absolute;
      bottom: 0%;
      transition: height .6s .2s; }
      .aside__article__post__container__H4 {
        color: whitesmoke;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 1;
        margin: 5%;
        background: rgba(24, 23, 23, 0.3);
        padding: 1rem;
        text-align: center;
        align-self: center;
        border-left: solid 3px lightseagreen; }
      .aside__article__post__container__p {
        color: whitesmoke;
        font-size: 1rem;
        margin: 5%;
        padding: 5%;
        background: rgba(24, 23, 23, 0.3);
        border-radius: 20px;
        border-bottom: solid 3px lightseagreen; }
      .aside__article__post__container__link {
        display: flex;
        color: whitesmoke;
        padding: .5rem;
        margin: 1rem;
        text-decoration: none;
        align-self: flex-end;
        justify-content: flex-end;
        text-align: center;
        background: rgba(24, 23, 23, 0.3);
        border-radius: 10px;
        position: relative;
        left: 55%;
        transition: .3s; }
        .aside__article__post__container__link:hover {
          background: rgba(32, 178, 170, 0.888); }
