@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

body {
  font-family: 'Lato', sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px; }

.logo {
  display: flex;
  text-transform: uppercase;
  color: whitesmoke;
  user-select: none;
  font-family: 'Exo';
  word-spacing: 1px;
  letter-spacing: 1px;
  color: #181717; }

.menuRes {
  display: block;
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px; }

h2, h3, h3, h5, h6 {
  color: #366BE7; }

#main {
  font-family: exo; }

.dashboard-header {
  display: flex;
  background: #181717;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4; }

.logo-dash {
  font-family: exo;
  font-size: 3rem;
  color: whitesmoke;
  text-transform: uppercase;
  margin: 1rem; }

.user-pic {
  margin-right: 2rem; }
  .user-pic img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem; }

.first {
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  margin-left: 2rem; }

.img-user img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%; }

.perfil {
  align-items: center; }

.userName {
  font-size: 1rem;
  color: #181717;
  margin-top: .5rem; }

.editPerfil {
  color: #366BE7;
  font-size: .8rem;
  margin: 1rem; }

.service-dash {
  margin: 1rem; }

.tittle-serv {
  color: whitesmoke;
  background: #181717;
  padding: 1rem;
  margin: 5% 0;
  font-size: 2.3rem;
  text-transform: uppercase; }

.verificate {
  margin: 2rem 1rem;
  text-decoration: none;
  color: green;
  align-self: flex-end; }

.status-item {
  display: flex;
  margin: 2rem;
  justify-content: space-between; }

.tituloDash {
  align-self: flex-start;
  font-size: 3rem;
  color: #141414;
  margin: 1rem;
  padding: .3rem 1rem;
  text-transform: uppercase;
  letter-spacing: .6rem; }

.table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 98%;
  padding: 1rem; }
  .table-head, .table-body {
    margin: .3rem 1rem;
    align-items: center;
    padding: 1rem;
    width: 100%; }
  .table-head {
    grid-row: 1 / 2;
    background: #181717;
    color: whitesmoke;
    text-transform: uppercase; }
  .table-body {
    color: #181717;
    text-align: justify-all; }

.plus {
  margin-left: 10%;
  background: cadetblue;
  padding: .5rem;
  color: whitesmoke;
  text-decoration: none; }

.col-1 {
  grid-column: 1 / calc(1 + 1); }

.col-2 {
  grid-column: 2 / calc(2 + 1); }

.col-3 {
  grid-column: 3 / calc(3 + 1); }

.col-4 {
  grid-column: 4 / calc(4 + 1); }

.col-5 {
  grid-column: 5 / calc(5 + 1); }

.col-6 {
  grid-column: 6 / calc(6 + 1); }

.column-dash {
  display: flex;
  flex-direction: column; }

.row-dash {
  display: flex; }

.aside-dash {
  display: flex;
  flex-direction: column; }

.dash-nav {
  display: flex;
  flex-direction: column; }
  .dash-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.usernav {
  color: whitesmoke;
  margin-left: 3%; }

.a-dash {
  font-size: 1.1rem;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  user-select: none; }
  .a-dash:hover {
    background: #366BE7; }

.aside-dash {
  height: 100vmax;
  width: 0;
  position: fixed;
  z-index: 33;
  top: 0;
  left: 0;
  background-color: #181717;
  overflow-y: hidden;
  padding-top: 4rem;
  transition: 0.5s; }

.openbtn {
  font-size: 2rem;
  margin: 1rem; }

.closebtn {
  display: flex;
  color: whitesmoke;
  justify-content: flex-end; }

.dropdown-container {
  display: none;
  flex-direction: column;
  background: #181717;
  width: 100%;
  height: 100%;
  padding: 1rem; }
  .dropdown-container a {
    color: whitesmoke;
    text-decoration: none;
    margin: .5rem 0;
    font-size: .6rem; }

.actives {
  background: #366BE7;
  position: relative; }
  .actives::after {
    content: "";
    display: block;
    width: 20px;
    height: 50%;
    background: whitesmoke;
    position: absolute;
    top: 25%;
    right: 0;
    clip-path: polygon(0 50%, 100% 100%, 100% 0); }

.white {
  color: whitesmoke; }

.fa-arrow-circle-left {
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.5rem; }
  .fa-arrow-circle-left:hover {
    color: #366BE7; }

.fa-bars {
  color: whitesmoke;
  cursor: pointer; }
  .fa-bars:hover {
    color: #366BE7; }

.dropdown-user {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 90%;
  right: 1%;
  background: #181717;
  padding: 0 2rem;
  border-radius: 4px; }
  .dropdown-user__a {
    color: whitesmoke;
    text-decoration: none;
    margin: 1rem;
    padding: .1rem .3rem;
    border-bottom: solid 1px gray; }
    .dropdown-user__a:hover {
      color: #366BE7; }

.subDrop {
  margin: 1rem;
  padding: .3rem; }
  .subDrop:hover {
    background: #366BE7; }

.show {
  display: flex; }

.formDash {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5%; }
  .formDash input {
    font-family: exo;
    border: solid 1px gray;
    padding: .5rem;
    margin: .1rem; }
  .formDash textarea {
    resize: none; }

.informe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 10% 10% 10% 10%;
  margin: 10%; }
  .informe__usuario, .informe__email, .informe__tel, .informe__asunto, .informe__tipo, .informe__status {
    display: flex;
    margin: 1rem; }
  .informe__titulo {
    grid-area: 1 / 1 / 2 / 4; }
  .informe__usuario {
    grid-area: 2 / 1 / 3 / 2; }
  .informe__email {
    grid-area: 2 / 2 / 3 / 3; }
  .informe__tel {
    grid-area: 2 / 3 / 3 / 4; }
  .informe__asunto {
    grid-area: 3 / 1 / 4 / 2; }
  .informe__tipo {
    grid-area: 3 / 2 / 4 / 3; }
  .informe__status {
    grid-area: 3 / 3 / 4 / 4; }
  .informe__situacion {
    grid-area: 4 / 1 / 5 / 4;
    margin: 1rem; }
    .informe__situacion p {
      margin: 1rem; }
  .informe .checkStatus {
    grid-area: 5 / 1 / 6 / 2;
    margin: 1rem; }
    .informe .checkStatus input {
      margin-left: 5%; }
  .informe-boton {
    grid-area: 5 / 3 / 6 / 4;
    justify-self: center;
    margin-right: 5%;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px; }
    .informe-boton:hover {
      background: cadetblue; }
  .informe__black {
    color: #181717;
    font-weight: 700;
    margin-right: 5%; }

.btndash {
  padding: 1rem;
  background: #181717;
  color: whitesmoke; }

.formbtn {
  align-self: flex-end;
  margin: 1rem 0; }

.header {
  display: flex;
  flex-direction: column; }
  .header .logo {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative; }
    .header .logo__zod {
      color: #181717;
      border-radius: 60px 20px 60px 20px;
      font-size: 2em;
      margin: 2rem;
      letter-spacing: 1rem;
      font-weight: 900;
      font-style: italic;
      padding: 1rem;
      z-index: 1;
      user-select: none; }
    .header .logo__sub {
      color: cadetblue;
      position: absolute;
      top: 60%;
      left: 10%;
      width: 50%;
      padding: .3rem;
      letter-spacing: .2rem;
      word-spacing: .3rem;
      font-size: .9rem;
      font-style: italic;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 10px;
      z-index: 1;
      user-select: none;
      text-align: right;
      padding-top: 1%;
      padding-right: 3%; }

.top {
  grid-area: 1 / 1 / 2 / 13;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: whitesmoke;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 1px 1px 5px gray; }

.nav {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 5%; }
  .nav__li__a {
    color: #181717;
    text-decoration: none;
    padding: 1rem;
    margin: 2rem;
    text-transform: uppercase; }

.user {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: flex-end;
  margin: 2%; }
  .user .fa-user, .user__a {
    margin: .4rem;
    font-size: 1rem;
    color: #181717; }
  .user__a {
    text-decoration: none; }

.fa-search {
  font-size: .7rem;
  color: #ccc;
  background: #181717;
  padding: 1rem;
  align-self: center; }

.user {
  align-items: center; }

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #181717;
  color: whitesmoke; }

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10; }

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: #181717;
  padding: 16px;
  color: whitesmoke; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 250px; }

.dropdown {
  float: left;
  overflow: hidden; }

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: #181717;
  background: none;
  padding: 1rem; }

/* Style links inside the columns */
.column a {
  float: none;
  color: #181717;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

/* Add a background color on hover */
.column a:hover {
  background-color: whitesmoke; }

/* Clear floats after the columns */
.carrousel {
  display: flex;
  height: 30vmax;
  position: relative; }
  .carrousel__arrowLeft, .carrousel__arrowRight {
    position: absolute;
    top: 40%;
    background: whitesmoke;
    padding: 1rem 1rem;
    color: #181717;
    border-radius: 12px;
    margin: 0 1rem;
    transition: .6s;
    user-select: none; }
    .carrousel__arrowLeft:hover, .carrousel__arrowRight:hover {
      background: cadetblue;
      color: whitesmoke; }
  .carrousel__arrowRight {
    right: 0%;
    z-index: 3; }
  .carrousel__arrowLeft {
    left: 0%;
    z-index: 3; }
  .carrousel__container {
    position: relative; }
    .carrousel__container__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .5s; }
    .carrousel__container__post {
      display: grid;
      grid-template-rows: 10% repeat(3, 1fr) 5%;
      grid-template-columns: repeat(12, 1fr);
      position: absolute;
      bottom: 0%;
      left: 0%;
      padding: 1rem;
      height: 30%;
      background: rgba(24, 23, 23, 0.9);
      overflow: hidden;
      transition: .5s; }
      .carrousel__container__post:hover {
        height: 100%; }
      .carrousel__container__post .H1 {
        grid-area: 2 / 1 / 3 / 13;
        color: cadetblue;
        font-size: 3rem;
        margin: 1rem; }
      .carrousel__container__post__date {
        grid-area: 1 / 10 / 2 /13;
        color: whitesmoke;
        border-left: solid 5px cadetblue;
        padding: .3rem;
        align-self: center; }
      .carrousel__container__post__p {
        grid-area: 3 / 1 / 4 / 13;
        margin: 0 15%;
        align-self: center;
        color: whitesmoke; }
      .carrousel__container__post__a {
        color: cadetblue;
        grid-area: 4 / 10 / 5 / 12;
        background: whitesmoke;
        padding: 1rem;
        align-self: flex-end;
        justify-self: flex-end;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .7rem; }
        .carrousel__container__post__a:hover {
          background: rgba(95, 158, 160, 0.888);
          color: whitesmoke; }
  .carrousel .fa-chevron-left, .carrousel .fa-chevron-right {
    font-size: 20px;
    user-select: none; }

.index-main {
  display: flex;
  flex-direction: column;
  margin: 5%; }

.row {
  display: flex;
  flex-direction: row; }

.noticiaPrincipal {
  display: flex;
  flex-direction: column;
  width: 70%; }
  .noticiaPrincipal__H2 {
    font-size: 3rem;
    color: #141414;
    margin: 1rem;
    text-transform: uppercase;
    word-spacing: .5rem;
    letter-spacing: .3rem; }
  .noticiaPrincipal__date {
    align-self: flex-end; }
    .noticiaPrincipal__date__fecha, .noticiaPrincipal__date__categoria {
      color: #366BE7;
      margin: .1rem 1rem; }
  .noticiaPrincipal__pic {
    margin: 1rem; }
    .noticiaPrincipal__pic img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .noticiaPrincipal__p {
    margin: 1.3rem;
    color: #181717; }
  .noticiaPrincipal__link {
    align-self: flex-end;
    color: #366BE7;
    text-decoration: none;
    margin: 0 1rem; }

.ultimasNoticias {
  margin: 1rem;
  margin-top: 3%; }

.lista {
  margin: .1rem; }
  .lista__items {
    font-size: .9em;
    margin: 1.5rem;
    list-style: none; }

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between; }

.categoria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem; }
