//Black 161616
$black: #4C5454
$blackTransparent: rgba(24, 23 ,23, 0.9)
$blackTransparent1: rgba(24, 23 ,23, 0.3)
$blackBold: #141414
//blanco whitesmoke !!!!!!!!!!!!
$white: whitesmoke
$whiteFlor: floralwhite
// BLUE !!!!!!!!
$blue: #233d55
$blueCyan: #0E9FBF
$blueLight: cadetblue
$blueLightTransparent: rgba(95, 158, 160, .888)