.bodyIndex
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 100% 1fr 1fr
    background: $white
/////////////
.header
    grid-area: 1 / 1 / 2 / 4
    display: flex
    flex-direction: column
    .logo
        display: flex
        width: 100%
        align-items: center
        position: relative
        &__zod
            color: $black
            border-radius: 60px 20px 60px 20px
            font-size: 2em
            margin: 2rem
            letter-spacing: 1rem
            font-weight: 900
            font-style: italic
            padding: 1rem
            z-index: 1
            user-select: none
        &__sub
            color: $blueLight
            position: absolute
            top: 60%
            left: 10%
            width: 50%
            padding: .3rem
            letter-spacing: .2rem
            word-spacing: .3rem
            font-size: .9rem
            font-style: italic
            font-weight: 500
            text-transform: uppercase
            border-radius: 10px
            z-index: 1
            box-shadow: 5px 3px 2px $blackTransparent1
            user-select: none
            text-align: right
            padding-top: 1%
            padding-right: 3%
//////////////import css-variables from 
.top
    grid-area: 1 / 1 / 2 / 13
    display: flex
    align-items: center
    justify-self: center
    justify-content: space-around
    background: $white
.user
    display: flex
    align-items: center
    align-self: center
    justify-self: flex-end
    margin: 2%
    .fa-user, &__a
        margin: .4rem
        font-size: 1rem
        color: $black
    &__a
        text-decoration: none
.search
    display: flex
    flex-direction: row-reverse
    align-self: center
    transition: 2s
    margin: 2%
    border: solid 1px $white
    border-radius: 5px
    width: 30%
    height: 33%
    overflow: hidden
    &:hover
        border: solid 1px $blue
    &__input
        font-size: .7rem
        webkit-transition: 0.5s
        outline: none
        border: none
        transition: box-shadow .5s ease-out
        padding: .7rem
        width: 100%
        &:focus
            color: $black
    &__search
        display: flex
.fa-search
    font-size: .7rem
    color: #ccc
    background: $black
    padding: 1rem
    align-self: center
.user
    align-items: center
    .fa-user
    &__a
////////////           
//////////////////////// carru
.carrousel
    display: flex
    height: 30vmax
    position: relative
    &__arrowLeft, &__arrowRight
        position: absolute
        top: 40%
        background: $white
        padding: 0 1rem
        color: $black
        border-radius: 12px
        margin: 0 1rem
        transition: .6s
        user-select: none
        &:hover
            background: $blueLight
            color: $white
    &__arrowRight
        right: 0%
        z-index: 3
    &__arrowLeft
        left: 0%
        z-index: 3
    &__container
        position: relative
        &__img
            height: 100%
            width: 100%
            object-fit: cover
            transition: .5s
        &__post
            display: grid
            grid-template-rows: 10% repeat(3, 1fr) 5%
            grid-template-columns: repeat(12, 1fr)
            position: absolute
            bottom: 0%
            left: 0%
            padding: 1rem
            height: 30%
            background: $blackTransparent
            overflow: hidden
            transition: .5s
            &:hover
                height: 100%
            .H1
                grid-area: 2 / 1 / 3 / 13
                color: $blueLight
                font-size: 3rem
                margin: 1rem
            &__date
                grid-area: 1 / 10 / 2 /13
                color: $white
                border-left: solid 5px $blueLight
                padding: .3rem
                align-self: center
            &__p
                grid-area: 3 / 1 / 4 / 13
                margin: 0 15%
                align-self: center
                color: $white
            &__a
                color: $blueLight
                grid-area: 4 / 10 / 5 / 12
                background: $white
                padding: 1rem
                align-self: flex-end
                justify-self: flex-end
                border-radius: 5px
                text-decoration: none
                text-transform: uppercase
                font-size: .7rem
                &:hover
                    background: $blueLightTransparent
                    color: $white
    .fa-chevron-left, .fa-chevron-right
        font-size: 20px
        user-select: none
//////////FIN HEAD
/////////Main
.main
    grid-area: 2 / 1 / 3 / 3
    display: flex
    flex-direction: column
    height: 100%
    padding: 0 5%
    &__H2
        font-size: 3rem
        align-self: center
        margin: 5rem 0
        padding: .3rem 1rem
        border-left: solid 10px $blueLight
        text-transform: uppercase
        color: $black
    &__article
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        &__post
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr 5%
            margin: 1rem
            height: 30vh
            width: 90%
            border-top: solid 5px $blue
            border-radius: 10px
            overflow: hidden
            transition: 1s
            background: $blue
            box-shadow: 5px 9px 15px gray
            &:hover
                transform: scale(1.1)
                border-top: solid 5px $blueLight
            &:hover > &__img
                filter: blur(20px)
            &:hover > &__H3
                background: $blackTransparent1
            &__H3
                grid-area: 2 / 1 / 4 / 3
                font-size: 1.7rem
                padding: 1rem
                color: $white
                background: $blueLightTransparent
                word-spacing: .5rem
                letter-spacing: .2rem
                text-align: justify-all
                text-transform: uppercase
                z-index: 1
                transition: .5s
            &__img
                grid-area: 1 / 1 / 4 / 3
                height: 100%
                width: 100%
                object-fit: cover
            &__date
                grid-area: 1 / 2 / 2 / 3
                display: flex
                justify-content: flex-end
                align-self: flex-start
                margin: 1rem
                z-index: 2
                &__fecha
                    color: $white
                    padding: 1rem
                    border-radius: 5px
                    margin-right: 5%
                    font-size: .5rem
                    border-left: solid 3px $blueLight
                    background: $black
                &__cat
                    color: $white
                    border-left: solid 3px $blueLight
                    background: $black
                    padding: 1rem
                    border-radius: 5px
                    font-size: .5rem
                    transition: .5s
                    user-select: none
                    cursor: pointer
                    &:hover
                        background: $blueLightTransparent
            &__link
                color: $white
                grid-area: 2 / 2 / 4 / 3
                justify-self: flex-end
                align-self: flex-end
                text-decoration: none
                margin-right: 5%
                margin-bottom: 5%
                padding: 5%
                background: $blackTransparent
                text-transform: uppercase
                border-radius: 5px
                font-size: .6em
                z-index: 3
                transition: .5s
                &:hover
                    background: $blueLight
//////////fin main
//////aside
.aside
    grid-area: 2 / 3 / 3 / 4
    &__article
        display: flex
        flex-direction: column
        align-items: center
        &__H3
            align-self: center
            font-size: 1.6rem
            text-transform: uppercase
            font-weight: 500
            margin: 5rem 0
            margin-right: 15%
            padding: 1rem
            text-align: center
            border-radius: 6px
            color: $black
            border-left: solid 3px $blueLight
        &__post
            display: grid
            grid-template-columns: 50% 1fr
            grid-template-rows: 1fr 5%
            margin: 1rem 15% 3rem 5%
            height: 45vh
            position: relative
            border-radius: 10%
            overflow: hidden
            box-shadow: 5px 9px 5px gray
            &:hover > &__container
                height: 100%
            &:hover > &__img
                filter: blur(20px)
            &__img
                grid-area: 1 / 1 / 3 / 3
                height: 100%
                width: 100%
                object-fit: cover
                transition: .6s .2s
            &__container
                grid-area: 1 / 1 / 3 / 3
                display: flex
                flex-wrap: wrap
                z-index: 1
                background: $blackTransparent1
                overflow: hidden
                height: 21%
                position: absolute
                bottom: 0%
                transition: height .6s .2s
                &__H4
                    color: $white
                    font-size: 1.3rem
                    font-weight: 500
                    text-transform: uppercase
                    z-index: 1
                    margin: 5%
                    background: $blueLight
                    border-radius: 20px
                    padding: 1rem
                    text-align: center
                    align-self: center
                    border-left: solid 3px $blueLight
                &__p
                    color: $white
                    font-size: 1rem
                    margin: 5%
                    padding: 5%
                    background: $blackTransparent1
                    border-radius: 20px
                    border-bottom: solid 3px $blueLight
                &__link
                    display: flex
                    color: $white
                    padding: .5rem
                    margin: 1rem
                    text-decoration: none
                    align-self: flex-end
                    justify-content: flex-end
                    text-align: center
                    background: $blackTransparent1
                    border-radius: 10px
                    position: relative
                    left: 55%
                    transition: .3s
                    &:hover
                        background: $blueLightTransparent

.footer
    grid-area: 3 / 1 / 4 / 4
    display: flex
    flex-direction: column    
.container-row
    display: flex
    flex-direction: row