.bodyIndex
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(11, 10%)
.containerBlog
    margin: 5%
    display: flex
    flex-direction: column
    &__h2
        text-align: center
        text-transform: uppercase
        padding: 1rem .5rem
        border-radius: 10px
        background: $blueLightTransparent7
        color: $white
        margin: 0 5%
        margin-bottom: 5%
    &__aside
        margin-bottom: 25%