.bodyIndex
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 100% 1fr 1fr
    background: white
/////////////
.header
    grid-area: 1 / 1 / 2 / 4
    display: flex
    flex-direction: column
    .logo
        display: flex
        width: 90%
        align-items: center
        position: relative
        &__zod
            color: $blueLight
            font-size: 7em
            margin-left: .5rem
            letter-spacing: 1rem
            font-weight: 900
            font-style: italic
            padding: 1rem
            z-index: 1
            text-shadow: 1px 1px 3px
            user-select: none
        &__sub
            color: $white
            position: absolute
            top: 89%
            left: 8%
            width: 100%
            padding: .3rem
            letter-spacing: .2rem
            word-spacing: .3rem
            font-size: .9rem
            font-style: italic
            font-weight: 500
            text-transform: uppercase
            background: $blackTransparent
            z-index: 1
            box-shadow: 5px -3px 2px $blackTransparent1
            user-select: none
            text-align: right
            padding-top: 1%
            padding-right: 3%
//////////////import css-variables from 
.top
    grid-area: 1 / 1 / 2 / 13
    display: flex
    align-items: center
    justify-content: space-around
    background: $black
.user
    display: flex
    align-items: center
    align-self: flex-start
    justify-self: flex-end
    margin: 2%
    .fa-user, &__a
        margin: .4rem
        font-size: 1rem
        color: $white
    &__a
        text-decoration: none
.search
    display: flex
    flex-direction: row-reverse
    align-self: center
    transition: 2s
    margin: 2%
    border: solid 1px $white
    border-radius: 5px
    width: 30%
    height: 33%
    overflow: hidden
    &:hover
        border: solid 1px $blue
    &__input
        font-size: .7rem
        webkit-transition: 0.5s
        outline: none
        border: none
        transition: box-shadow .5s ease-out
        padding: .7rem
        width: 100%
        &:focus
            color: $black
    &__search
        display: flex
.fa-search
    font-size: .7rem
    color: #ccc
    background: $black
    padding: 1rem
    align-self: center
////////////           
.navbar
    padding: 1rem
    margin: 1rem
    &__ul
        display: flex
        justify-content: space-around
        padding: 2rem
        align-items: center
        &__li
            list-style: none
            align-items: center
            justify-content: center
            &__a
                font-size: .7em
                text-decoration: none
                color: $black
                text-transform: uppercase
                padding: 1rem 2rem
                transition: border-left .3s
                border-radius: 10px
                font-weight: 600
                letter-spacing: .3rem
                border-left: solid 1px $white
                &:hover
                    border-left: solid 5px $blueLight
//////////////////////// carru
.carrousel
    display: flex
    height: 62vh
    margin: 1rem
    &__arrowLeft
    &__arrowRight
    &__container
        position: relative
        &__img
            height: 100%
            width: 100%
            object-fit: cover
        &__post
            display: grid
            grid-template-rows: 10% repeat(4, 1fr) 
            grid-template-columns: repeat(12, 1fr)
            position: absolute
            bottom: 0%
            left: 0%
            padding: 1rem
            height: 50%
            background: $blackTransparent
            .H1
                grid-area: 2 / 1 / 3 / 13
                color: $blueLight
                font-size: 3rem
                margin: 1rem
            &__date
                grid-area: 1 / 11 / 2 /13
                color: $white
                border-left: solid 5px $blueLight
                padding: .3rem
                align-self: center
            &__p
                grid-area: 3 / 1 / 4 / 13
                margin: 1rem
                color: $white
            &__a
                color: $blueLight
                grid-area: 4 / 11 / 5 / 13
.user
    .fa-user
    &__a
//////////FIN HEAD
/////////Main
.main
    grid-area: 2 / 1 / 3 / 3
    display: flex
    flex-direction: column
    height: 100%
    padding: 0 5%
    &__H2
        font-size: 3rem
        align-self: center
        margin-bottom: 1rem
    &__article
        display: flex
        flex-direction: column
        justify-content: space-around
        &__post
            display: grid
            grid-template-columns: 1fr 2fr
            grid-template-rows: 5% repeat(2, 1fr) 10%
            margin: 1rem
            height: 30vh
            width: 90%
            &__H3
                grid-area: 2 / 2 / 3 / 3
                font-size: 2rem
                padding: 1rem
                color: $black
            &__img
                grid-area: 1 / 1 / 5 / 2
                height: 100%
                width: 100%
                object-fit: cover
                border-radius: 10px
            &__p
                grid-area: 3 / 2 / 4 / 3
                color: $black
                padding: 0 1rem
                margin-left: 5%
            &__date
                grid-area: 1 / 2 / 2 / 3
                color: $black
                display: flex
                justify-content: flex-end
                align-self: flex-start
                margin-bottom: 1rem
                &__fecha
                    margin: 0 1rem
                &__cat
                    margin: 0 1rem
            &__link
                color: $black
                padding: 1rem
                grid-area: 4 / 2 / 5 / 3
                justify-self: flex-end
//////////fin main
//////aside
.aside
    grid-area: 2 / 3 / 3 / 4
    &__article
        &__post
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: 1fr 5%
            margin: 1rem 1rem
            &__img
                grid-area: 1 / 1 / 3 / 2
                width: 200px
            &__H4
                grid-area: 1 / 2 / 2 / 3
                font-size: 1.6rem
            &__link
                grid-area: 2 / 2 / 3 / 3